alembic==1.6.2
attrs==21.2.0
boto3==1.17.73
botocore==1.20.73
click==8.0.0
dnspython==2.1.0
email-validator==1.1.2
Flask==2.0.0
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.0
idna==3.1
iniconfig==1.1.1
itsdangerous==2.0.0
Jinja2==3.0.0
jmespath==0.10.0
Mako==1.1.4
MarkupSafe==2.0.0
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycryptodome==3.10.1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-editor==1.0.4
s3transfer==0.4.2
secret==0.8
six==1.16.0
SQLAlchemy==1.4.15
tabulate==0.8.9
toml==0.10.2
urllib3==1.26.4
Werkzeug==2.0.0
WTForms==2.3.3
